<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Mail" description="Foundation.Mail" dependencies="Foundation.Serialization" extends="Helix.Base">
          <predicate>
            <!-- Site Presentation and Settings -->
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/SYMB2C/$(module)" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
    </sitecore>
</configuration>
