<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="SYMB2C.Foundation.DependencyInjection.IoC.MvcControllerServicesConfigurator, SYMB2C.Foundation.DependencyInjection"/>
        </services>
    </sitecore>
</configuration>