<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Icons" dependencies="Foundation.serialization*" extends="Helix.Base">
          <predicate>
            <!-- Site Presentation and Settings -->
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Feature/SYMB2C/Site Settings" />
            <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SYMB2C/$(module)" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>

