<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Common" dependencies="Foundation.serialization*" extends="Helix.Base">
          <predicate>
            <include name="$(layer).$(module).Buckets" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Bucketing/Resolve Custom Date Based Path" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
