<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <sc.variable name="sourceFolder" set:value="C:\Serialization" />
    <sc.variable env:require="Dev OR QA OR Prod" name="sourceFolder" set:value="$(dataFolder)\Unicorn" />
  </sitecore>
</configuration>