<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <fieldTypes>
      <fieldType name="General Link">
        <patch:attribute name="type">SYMB2C.Foundation.LinkTracker.Data.Fields.TrackedLinkField, SYMB2C.Foundation.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="General Link with Search">
        <patch:attribute name="type">SYMB2C.Foundation.LinkTracker.Data.Fields.TrackedLinkField, SYMB2C.Foundation.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="link">
        <patch:attribute name="type">SYMB2C.Foundation.LinkTracker.Data.Fields.TrackedLinkField, SYMB2C.Foundation.LinkTracker</patch:attribute>
      </fieldType>
    </fieldTypes>
    <pipelines>
      <initialize role:require="Standalone or ContentManagement">
        <!-- Load Dropdown Options on init - CM only -->
        <processor type="SYMB2C.Foundation.LinkTracker.Events.Processors.GoalProvider, SYMB2C.Foundation.LinkTracker"></processor>
        <processor type="SYMB2C.Foundation.LinkTracker.Events.Processors.PageEventProvider, SYMB2C.Foundation.LinkTracker"></processor>
        <processor type="SYMB2C.Foundation.LinkTracker.Events.Processors.CampaignProvider, SYMB2C.Foundation.LinkTracker"></processor>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
                     type="SYMB2C.Foundation.LinkTracker.Pipelines.ScApi.RegisterApiRoutes, SYMB2C.Foundation.LinkTracker"></processor>
      </initialize>
      <renderField>
        <processor type="SYMB2C.Foundation.LinkTracker.Pipelines.RenderField.SetGoalAttributeOnLink, SYMB2C.Foundation.LinkTracker">
          <XmlAttributeName>goalid</XmlAttributeName>
          <AttributeName>goalid</AttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
        <processor type="SYMB2C.Foundation.LinkTracker.Pipelines.RenderField.SetPageEventAttributeOnLink, SYMB2C.Foundation.LinkTracker">
          <XmlAttributeName>pageeventid</XmlAttributeName>
          <AttributeName>pageeventid</AttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
        <processor type="SYMB2C.Foundation.LinkTracker.Pipelines.RenderField.SetCampaignAttributeOnLink, SYMB2C.Foundation.LinkTracker">
          <XmlAttributeName>campaign</XmlAttributeName>
          <AttributeName>campaign</AttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
      </renderField>
      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" 
                   type="SYMB2C.Foundation.LinkTracker.Pipelines.RenderLayout.InsertHeadControls, SYMB2C.Foundation.LinkTracker"></processor>
      </mvc.renderRendering>
    </pipelines>
    <processors>
    <!-- Reload Dropdown Options on save - CM only -->
    <saveUI role:require="Standalone or ContentManagement">        
        <processor mode="on" type="SYMB2C.Foundation.LinkTracker.Events.Processors.LoadControl, SYMB2C.Foundation.LinkTracker" patch:before="processor[@type='Sitecore.Pipelines.Save.CheckRevision, Sitecore.Kernel']" />         
      </saveUI>
    </processors>
    <customHandlers>
      <handler trigger="/-/trackedlinkhandler/" handler="/Events/Handler/TrackedLinkHandler.ashx" />
    </customHandlers>
  </sitecore>
</configuration>
