<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"  xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
      <!-- Prod -->
      <settings env:require="Prod">
          <!--SYMB2C tenant details-->
          <setting name="ida:AadInstance" set:value="https://yourProdtenantb2c.b2clogin.com/tfp/{0}/{1}" />
          <setting name="api:ApiIdentifier" set:value="https://yourProdtenantb2c.onmicrosoft.com/SYMB2CPowerSiteCoreApp" />
          <setting name="ida:Tenant" set:value="yourProdtenantb2c.onmicrosoft.com" />
          <setting name="ida:TenantId" set:value="your-guid-here" />
          <setting name="ida:ClientId" set:value="your-guid-here" />
          <setting name="ida:AppKey" set:value="SECRET-KEY-HERE" />
          <setting name="ida:ClientSecret" set:value="CLIENT-SECRET-HERE" />
          
          <setting name="RequireHttps" set:value="True" />
      </settings>
      <settings env:require="Prod" role:require="ContentManagement">
          <setting name="ida:RedirectUri" set:value="https://cm.symb2csite.com" />
          <setting name="ida:PostLogoutRedirectUri" set:value="https://cm.symb2csite.com" />
          <setting name="ida:RedirectIFrameUri" set:value="https://cm.symb2csite.com" />
      </settings>
      <settings env:require="Prod" role:require="ContentDelivery">
          <setting name="ida:RedirectUri" set:value="https://www.symb2csite.com" />
          <setting name="ida:PostLogoutRedirectUri" set:value="https://www.symb2csite.com" />
          <setting name="ida:RedirectIFrameUri" set:value="https://www.symb2csite.com" />
      </settings>
      
      <!-- Dev (inherits local) -->
      <settings env:require="Dev">
          <setting name="RequireHttps" set:value="True" />
          
          <setting name="ida:RedirectUri" set:value="https://dev.symb2csite.com" />
          <setting name="ida:PostLogoutRedirectUri" set:value="https://dev.symb2csite.com" />
          <setting name="ida:RedirectIFrameUri" set:value="https://dev.symb2csite.com" />
      </settings>

      <!-- QA -->
      <settings env:require="QA">
          <setting name="ida:AadInstance" set:value="https://qasymb2cb2c.b2clogin.com/tfp/{0}/{1}" />
          <setting name="api:ApiIdentifier" set:value="https://qasymb2cb2c.onmicrosoft.com/SYMB2CPowerSiteCoreApp" />
          <setting name="ida:Tenant" set:value="yourQAtenantb2c.onmicrosoft.com" />
          <setting name="ida:TenantId" set:value="your-guid-here" />
          <setting name="ida:ClientId" set:value="your-guid-here" />
          <setting name="ida:AppKey" set:value="SECRET-KEY-HERE" />
          <setting name="ida:ClientSecret" set:value="CLIENT-SECRET-HERE" />
          
          <setting name="RequireHttps" set:value="True" />
          
          <setting name="ida:RedirectUri" set:value="https://qa-cm.symb2csite.com" />
          <setting name="ida:PostLogoutRedirectUri" set:value="https://qa-cm.symb2csite.com" />
          <setting name="ida:RedirectIFrameUri" set:value="https://qa-cm.symb2csite.com" />          
      </settings>
      <settings env:require="QA" role:require="ContentDelivery">
          <setting name="ida:RedirectUri" set:value="https://qa.symb2csite.com" />
          <setting name="ida:PostLogoutRedirectUri" set:value="https://qa.symb2csite.com" />
          <setting name="ida:RedirectIFrameUri" set:value="https://qa.symb2csite.com" />
      </settings>

  </sitecore>
</configuration>