<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
      <settings>
          <!--SYMB2C tenant details-->
          <setting name="ida:AadInstance" value="https://yourDevtenantb2c.b2clogin.com/tfp/{0}/{1}" />
          <setting name="api:ApiIdentifier" value="https://yourDevtenantb2c.onmicrosoft.com/SYMB2CPowerSiteCoreApp" />
          <setting name="ida:Tenant" value="yourDevtenantb2c.onmicrosoft.com" />
          <!--Application ID and App key-->
          <setting name="ida:TenantId" value="your-guid-here" />
          <setting name="ida:ClientId" value="your-guid-here" />
          <setting name="ida:AppKey" value="SECRET-KEY-HERE" />
          <setting name="ida:ClientSecret" value="CLIENT-SECRET-HERE" />
          <!--Policy names-->
          <setting name="ida:SignInPolicyId" value="B2C_1A_SYMB2C_SignUpOrSignIn" /><!-- B2C_1_SignUp_SignIn, B2C_1A_SYMB2CPOWER_SignUp_SignIn -->
          
          <!--<setting name="ida:SignUpPolicyId" value="B2C_1A_SYMB2CPOWER_SignUp" />-->
          <!--<setting name="ida:SignUpSignInPolicyId" value="B2C_1_SignUp_SignIn" />-->
          <setting name="ida:EditProfilePolicyId" value="B2C_1A_SYMB2C_ProfileEdit" /><!-- B2C_1_ProfileEdit, B2C_1A_SYMB2CPOWER_ProfileEdit -->
          <setting name="ida:PasswordResetPolicyId" value="B2C_1A_SYMB2C_PasswordReset" />
          <setting name="ida:PasswordChangePolicyId" value="B2C_1A_SYMB2C_ProfileEditPasswordChange" />
          
          <setting name="ida:SignInIframeDayPolicyId" value="B2C_1A_SYMB2C_SignIn_IframeDay" />
          <setting name="ida:SignInIframeNightPolicyId" value="B2C_1A_SYMB2C_SignIn_IframeNight" />
          
          <setting name="ida:RedirectUri" value="http://localhost:44001/" />
          <setting name="ida:PostLogoutRedirectUri" value="http://localhost:44001/" />
          <setting name="ida:RedirectIFrameUri" value="http://localhost:44001/" />
          <setting name="api:DefaultScope" value="user_impersonation" />
          <setting name="ida:LogoutUrl" value="https://login.windows.net/{0}/oauth2/logout?post_logout_redirect_uri={1}" />
          <setting name="RequireHttps" value="False" />

          <!-- TOTP Settings -->
          <setting name="B2C_Verification_TOTP_Secret" value="YOURTOPSECRETKEYHERE=" />
          <setting name="B2C_Verification_TOTP_Step" value="3600" />
      </settings>
      <tracking>
          <!-- Let's not track the HTML templates -->
          <untrackedPages>
              <add path="/b2c/prod/changepassword.html"/>
              <add path="/b2c/prod/editprofile.html"/>
              <add path="/b2c/prod/error.html"/>
              <add path="/b2c/prod/resetpassword.html"/>
              <add path="/b2c/prod/signin.html"/>
              <add path="/b2c/prod/signup.html"/>
              <add path="/b2c/prod/signin-iframe-day.html"/>
              <add path="/b2c/prod/signin-iframe-night.html"/>
              <add path="/b2c/qa/changepassword.html"/>
              <add path="/b2c/qa/editprofile.html"/>
              <add path="/b2c/qa/error.html"/>
              <add path="/b2c/qa/resetpassword.html"/>
              <add path="/b2c/qa/signin.html"/>
              <add path="/b2c/qa/signup.html"/>
              <add path="/b2c/qa/signin-iframe-day.html"/>  
              <add path="/b2c/qa/signin-iframe-night.html"/>
              <add path="/b2c/dev/changepassword.html"/>
              <add path="/b2c/dev/editprofile.html"/>
              <add path="/b2c/dev/error.html"/>
              <add path="/b2c/dev/resetpassword.html"/>
              <add path="/b2c/dev/signin.html"/>
              <add path="/b2c/dev/signup.html"/>
              <add path="/b2c/dev/signin-iframe-day.html"/>
              <add path="/b2c/dev/signin-iframe-night.html"/>
              <add path="/b2c/signin-iframe-day-callback.html"/>
              <add path="/b2c/signin-iframe-night-callback.html"/>
          </untrackedPages>
      </tracking>
      <pipelines>
          <owin.identityProviders>
              <!--This is the custom processor that gets executed when Azure AD B2C posts the token to Sitecore-->
              <processor type="SYMB2C.Feature.Login.Pipelines.AzureAdB2CIdentityProviderProcessor, SYMB2C.Feature.Login" resolve="true" />
          </owin.identityProviders>
          <owin.initialize>
              <processor name="CookieAuthentication">
                 <!-- Controls how much time the cookie will remain valid from the point it is created.
             Format: d:hh:mm:ss

             No matter the cookie is persistent or not, OWIN authentication will not pass the expired cookie.
             ExpireTimeSpan could be overwritten by the http://www.sitecore.net/identity/claims/cookieExp claim where
             the claim value is Unix time expressed as the number of seconds that have elapsed since 1970-01-01T00:00:00Z. -->
                  <ExpireTimeSpan>00:15:00</ExpireTimeSpan>
                  <SlidingExpiration>true</SlidingExpiration>
              </processor>
          </owin.initialize>

      </pipelines>
      <services>
          <register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel"
                    implementationType="Sitecore.Owin.Authentication.Security.AuthenticationManager, Sitecore.Owin.Authentication"
                    lifetime="Singleton" />
          <register serviceType="Sitecore.Abstractions.BaseTicketManager, Sitecore.Kernel"
                    implementationType="Sitecore.Owin.Authentication.Security.TicketManager, Sitecore.Owin.Authentication"
                    lifetime="Singleton" />
          <register serviceType="Sitecore.Abstractions.BasePreviewManager, Sitecore.Kernel"
                    implementationType="Sitecore.Owin.Authentication.Publishing.PreviewManager, Sitecore.Owin.Authentication"
                    lifetime="Singleton" />
      </services>
      <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
          <!--Provider mappings to sites-->
          <!--<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
      </identityProvidersPerSites>-->
          <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
              <!--To add a providers per sites configuration you can use the custom config file in Include folder - just create new one or use existed. 
            Under configuration/sitecore/federatedAuthentication/identityProvidersPerSites create a new node with name mapEntry. Fill name, type attributes. 
            The value of the name attribute should be unique for each entry.
            Under created node fill child nodes: sites (list of sites where the provider(s) will work), identityProviders (list of providers), externalUserBuilder. 
            An example of map entry where the AzureAd provider could be used with shell, admin and website sites:-->
              <!--See below how to add a provider.-->  
              <mapEntry name="frontend" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
                  <!--
 The list of site names for which the specified identity providers will work.
               Note: the fedauth.siteNameExpander pipeline processes each site name, which gives the ability to use expressions like
               "regexp:modules_.*" or "database:web" or "domain:extranet" 
-->
                  <sites hint="list">
                      <site>SYMB2C</site>
                  </sites>
                  <identityProviders hint="list:AddIdentityProvider">
                      <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAdB2C']" />
                  </identityProviders>
                  <externalUserBuilder type="SYMB2C.Feature.Login.Processor.SYMB2CExternalUserBuilder, SYMB2C.Feature.Login" resolve="true">
                      <IsPersistentUser>false</IsPersistentUser>
                  </externalUserBuilder>
              </mapEntry>
          </identityProvidersPerSites>
          <!--Definitions of providers-->
          <identityProviders hint="list:AddIdentityProvider">
              <identityProvider id="AzureAdB2C" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                  <param desc="name">$(id)</param>
                  <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                  <caption>AzureAdB2C</caption>
                  <domain>extranet</domain>
                  <enabled>true</enabled>
                  <triggerExternalSignOut>true</triggerExternalSignOut>
                  <transformations hint="list:AddTransformation">
                      
                      <!-- Support for B2C Custom User flow claims -->
                      <transformation name="Name Identifier Claim" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                          <sources hint="raw:AddSource">
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
                          </sources>
                          <targets hint="raw:AddTarget">
                              <claim name="email" />
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" />
                          </targets>
                          <keepSource>true</keepSource>
                      </transformation>
                      
                      <!-- Support for BTC OOTB claims -->
                      <transformation name="email" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                          <sources hint="raw:AddSource">
                              <claim name="emails" />
                          </sources>
                          <targets hint="raw:AddTarget">
                              <claim name="email" />
                              <claim name="http://schemas.microsoft.com/ws/2005/05/identity/claims/emailaddress" />
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" />
                          </targets>
                          <keepSource>true</keepSource>
                      </transformation>
                                            
                      <transformation name="name" type="SYMB2C.Feature.Login.Claims.ConcatClaimsTransformation, SYMB2C.Feature.Login">
                          <param name="delimeter"> </param>
                          <sources hint="raw:AddSource">
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" />
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" />
                          </sources>
                          <targets hint="raw:AddTarget">
                              <claim name="name" />
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" />
                          </targets>
                          <keepSource>true</keepSource>
                      </transformation>
                      
                      <!--<transformation name="nonce" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
                          <sources hint="raw:AddSource">
                              <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nonce" />
                          </sources>
                          <targets hint="raw:AddTarget">
                              <claim name="nonce" />
                          </targets>
                      </transformation>-->
                      <transformation name="use exp claim for authentication cookie expiration" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                          <sources hint="raw:AddSource">
                              <claim name="exp"/>
                          </sources>
                          <targets hint="raw:AddTarget">
                              <claim name="http://www.sitecore.net/identity/claims/cookieExp"/>
                          </targets>
                          <keepSource>true</keepSource>
                      </transformation>

                      
                      <!--<transformation name="remove local role claims" type="Sitecore.Owin.Authentication.IdentityServer.Transformations.RemoveLocalRoles, Sitecore.Owin.Authentication.IdentityServer"/>
                      <transformation name="adjust NameIdentifier claim" type="Sitecore.Owin.Authentication.IdentityServer.Transformations.AdjustNameIdentifierClaim, Sitecore.Owin.Authentication.IdentityServer" resolve="true"/>-->
                      <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />
                     
                  </transformations>
              </identityProvider>
          </identityProviders>
          <!--List of all shared transformations-->
          <sharedTransformations>
          </sharedTransformations>
          <!--Property mappings initializer-->
          <propertyInitializer type='Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication'>
              <maps hint='list'>
                  <map name='email claim' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='email' />
                          <target name='Email' />
                      </data>
                  </map>
                  <map name='name' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='name' />
                          <target name='Name' />
                      </data>
                  </map>
                  <map name='full_name' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='name' />
                          <target name='FullName' />
                      </data>
                  </map>
                  <map name='first_name' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname' />
                          <target name='FirstName' />
                      </data>
                  </map>
                  <map name='last_name' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname' />
                          <target name='LastName' />
                      </data>
                  </map>
                  <map name='phone' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='extension_Phone' />
                          <target name='Phone' />
                      </data>
                  </map>
                  <map name='business_name' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='extension_BusinessName' />
                          <target name='BusinessName' />
                      </data>
                  </map>
                  <map name='legacy_id' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='extension_LegacyUserId' />
                          <target name='LegacyUserId' />
                      </data>
                  </map>
                  <!--<map name='account_list' type='Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication' resolve='true'>
                      <data hint='raw:AddData'>
                          <source name='extension_PowerAccountList' />
                          <target name='AccountList' />
                      </data>
                  </map>-->
              </maps>
          </propertyInitializer>
      </federatedAuthentication>
  </sitecore>
</configuration>