<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="Helix.Base">
          <predicate>

            <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->

            <!-- Templates -->
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Branches -->
            <include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="Branches.Feature" database="master" path="/sitecore/templates/branches/Feature/SYMB2C">
              <exclude children="true">
              </exclude>
            </include>

            <!-- Renderings -->
            <include name="Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
              <exclude children="true" />
            </include>


            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation/SYMB2C">
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
              <exclude children="true" />
            </include>


            <!-- Media -->
            <include name="Media.Feature" database="master" path="/sitecore/media library/Feature/SYMB2C">
              <exclude children="true">
              </exclude>
            </include>
            <include name="Media.Foundation" database="master" path="/sitecore/media library/Foundation/SYMB2C">
              <exclude children="true">
              </exclude>
            </include>
            <include name="Media.Project" database="master" path="/sitecore/media library/Project/SYMB2C">
              <exclude children="true">
              </exclude>
            </include>
            <include name="Media.Themes" database="master" path="/sitecore/media library/Themes/SYMB2C">
              <exclude children="true">
              </exclude>
            </include>

            

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>