<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Rendering" dependencies="Foundation.serialization*" extends="Helix.Base">
          <predicate>
            <!-- Site Presentation and Settings -->
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/System/Layout/Rendering Parameters/Standard Rendering Parameters" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
