<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="SYMB2C.Foundation.Rendering.IoC.RenderingConfigurator, SYMB2C.Foundation.Rendering" />
    </services>
    <pipelines>
      <generateScribanContext>
        <processor type="SYMB2C.Foundation.Rendering.Pipelines.ScribanLinkHelpers, SYMB2C.Foundation.Rendering" resolve="true" />
        <processor type="SYMB2C.Foundation.Rendering.Pipelines.BeginEndFieldProcessor, SYMB2C.Foundation.Rendering" resolve="true" />
      </generateScribanContext>
    </pipelines>
  </sitecore>
</configuration>