<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type= "SYMB2C.Foundation.Logging.IoC.LoggingConfigurator, SYMB2C.Foundation.Logging"/>
		</services>
		<!--Log4Net Configuration for custom Event logger-->
		<log4net>
			<appender name="CustomEventLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<encoding value="utf-8" />
				<staticLogFileName value="true"/>
				<datePattern value=".yyyyMMdd.'log'" />
				<rollingStyle value="Date" />
				<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
				<!--name of the log and the format the logs are created-->
				<file value="$(dataFolder)/logs/Events.log.{date}.txt"/>
				<!--writes in the same file instead overrideing it-->
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
			</appender>
			<logger name="CustomEventLogFileAppender.logs" additivity="false">
				<level value="DEBUG"/>
				<appender-ref ref="CustomEventLogFileAppender"/>
			</logger>
		</log4net>
		<!--Log4Net Configuration for custom Email logger-->
		<log4net>
			<appender name="CustomEmailLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<encoding value="utf-8" />
				<staticLogFileName value="true"/>
				<datePattern value=".yyyyMMdd.'log'" />
				<rollingStyle value="Date" />
				<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
				<!--name of the log and the format the logs are created-->
				<file value="$(dataFolder)/logs/Emails.log.{date}.txt"/>
				<!--writes in the same file instead overrideing it-->
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
			</appender>
			<logger name="CustomEmailLogFileAppender.logs" additivity="false">
				<level value="ALL"/>
				<appender-ref ref="CustomEmailLogFileAppender"/>
			</logger>
		</log4net>   
	</sitecore>
</configuration>